@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_LayoutLandingPage.cshtml";
}

<div class="row content">
    <div class="col-md-8 left-content">
        <p>Please enter your report code and click the Submit Button</p>
        <form onsubmit="event.preventDefault();handleSubmit()">
            <div class="field">
                <label>Code</label>
                <input type="text" class="input" id="code">
            </div>
            <br>
            <br>
            <div class="button">
                <input type="button" value="Submit" id="Submit">
            </div>
            <div id="error-msg"></div>
        </form>
    </div> 
    <div class="col-md-4 right-content">
        <img src="/images/pattern_graphic.png" style="position: absolute; top: 0px; right: 0px; width: 30%;">
        <p>Human Capability SEC Governance Report</p>
        <img src="/images/logo_triangle_large.svg" style="position: absolute; bottom: 40px; right: 10px; width: 15%;">
    </div>
</div>
<div class="row footer">
    <p>Copyright 2022 G3</p>
</div>
<script>
    $(document).ready(function () {
            $("#Submit").click(function () {
                handleSubmit();
            });
        });

        function handleSubmit() {
            var code = $("#code").val();
            $.post('/api/Reports/' + code)
            .done((data) => {
                if(!data) {
                    handleError('Your code is invalid');
                } else {
                    window.location = '/api/Reports/' + code;
                }
            }).fail((jqXHR, textStatus, errorThrown) => {
                handleError('A server error occurred; please try again later or contact and admin');
            });
        }

        function handleError(errorMsg) {
            $('#error-msg').html(errorMsg);
        }
</script>