@page
@{
    ViewData["Title"] = "G3HC";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row content">
    <div class="col-md-8 left-content">
        <p>Please enter a ticker and your admin password and click the Submit Button</p>
        <form onsubmit="event.preventDefault();handleSubmit()">
            <div class="field">
                <label>Ticker</label>
                <input class="input" type="text" id="code" />
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" class="input" id="password" />
            </div>
            <div class="button">
                <input type="button" value="Submit" id="Submit" />
            </div>
            <div id="error-msg"></div>
        </form>
    </div> 
    <div class="col-md-4 right-content">
        <img src="/images/pattern_graphic.png" style="position: absolute; top: 0px; right: 0px; width: 30%;">
        <p>Human Capability SEC Governance Report</p>
        <img src="/images/logo_triangle_large.svg" style="position: absolute; bottom: 40px; right: 10px; width: 15%;">
    </div>
</div>
<div class="row footer">
    <p>Copyright 2022 G3HC</p>
</div>
<script>
    $(document).ready(function () {
            $("#Submit").click(function () {
                handleSubmit();
            });
        });

        function handleSubmit() {
            $.ajax({
                url: '/api/reports/pdf',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                data: JSON.stringify({Code: $('#code').val(), Password: $('#password').val()})
            })
            .done((data) => {
                if(data.success) {
                    window.location = data.redirect;
                } else {
                    handleError(data.message);
                }
                console.log(data);
            }).fail((jqXHR, textStatus, errorThrown) => {
                handleError('A server error occurred; please try again later or contact and admin');
            });
        }

        function handleError(errorMsg) {
            $('#error-msg').html(errorMsg);
        }
</script>