html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.content{ 
    height: 97%;
    margin: 0;
}

.left-content{
    background-image: linear-gradient(#fff 70%, #d0d0d0); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    color: #626262;
    font-size: 1.5em; 
}

.left-content p{
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
}

.left-content form{
    display: flex; 
    flex-direction: column; 
    width: 60%;
}

form .field{
    display: flex; 
    justify-content: space-between;
}

form .input{
    border: 0px; 
    background-color: #dddddd; 
    border-radius: 10px; 
    height: 50px;
    width: 60%;
    padding: 10px;
}

form label{
    display: flex;
    align-items: center;
}

form .button{
    display: flex;
    justify-content: end;
}

.button input{
    border: 0px; 
    background-color: #003b84; 
    color: #fff;
    border-radius: 10px; 
    height: 60px; 
    width: 150px
}

.right-content{
    background-color: #001b3f;  
    display: flex;  
    flex-direction: column; 
    justify-content: center;
}

.right-content p{
    color: #fff;
    font-size: 2.25em; 
    text-align: center; 
    width: 70%; 
    margin-top: 250px;
}

.footer{
    margin: 0;
    height: 3%;
    background-color: #989898;
}

.footer p{
    color: #fff;
    padding-top: 3px;
    padding-left: 5%;
    font-size: 0.85em;
}

#error-msg {
    color: red;
}