@font-face {
    font-family: 'Timesnewroman';
    src: url(../fonts/Timesnewroman.ttf);
}

@font-face {
    font-family: 'Timesnewroman-italic';
    src: url(../fonts/Timesnewromanbolditalic.ttf);
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    width: 230mm;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    /*background: rgb(204, 204, 204);*/
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-page {
    width: 100%;
    /* margin: 0mm auto;*/
    box-shadow: 0 0 0.4cm rgba(0, 0, 0, 0.4);
}

p {
    margin-bottom: 8px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    body,
    section,
    .main-page {
        margin: 0;
        box-shadow: 0;
    }

    .main-page {
        width: 100%;
        height: 100%;
    }

    section {
        width: 100%;
        height: 100vh;
        padding-top: 1px;
        page-break-before: always;
    }
}

@media only screen and (min-width: 1024px) {
    section > div {
        height: 301mm;
    }
}

#page-3 h3 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    font-family: 'Timesnewroman';
}

h1 {
    font-size: 57px;
    font-family: 'Timesnewroman';
}

h2 {
    font-size: 27px;
    font-family: 'Timesnewroman';
}

h3 {
    font-size: 18px;
    font-family: 'OpenSans-Light';
    color: #071d49;
}

h4 {
    font-size: 14px;
    font-family: 'Timesnewroman';
}

p,
ul li,
ol li,
body table.table-striped tr td,
.table-striped > tbody > tr:nth-of-type(odd) > * {
    font-size: 12px;
    font-family: 'OpenSans';
    color: #384a6d;
    line-height: 20px;
}

span {
    font-family: 'Timesnewroman-italic';
    color: #0086d6;
    font-size: 12px;
}

.bg-image {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}

.blue-text {
    color: #0086d6 !important;
}

.blue {
    position: relative;
}

.blue:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 1px;
    width: 230px;
    border-bottom: 1px solid #0086d6;
}

.detail h3 {
    font-size: 27px;
    color: #fff;
}

.detail p {
    color: #d9dde1;
}

span.counter {
    position: absolute;
    right: 21px;
    color: #fff;
    font-family: 'Timesnewroman';
    top: 20px;
    z-index: 9;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#chartjs-radar {
    width: 60%;
    height: 60%;
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.extra-margin {
    margin: 50px 0px;
}

ul,
ol {
    padding-left: 0px;
}

.chart-wrapper-outer {
    /* margin: auto;*/
    /*  width: 500px;*/
    height: 500px;
    display: flex;
    /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.6);*/
}

.chart-wrapper-inner {
    margin: auto;
    /*width: 2500px;*/
}

ul li,
ol li {
    margin-left: 15px;
    margin-bottom: 8px;
}

td.dark-blue * {
    background: #071d49;
}

td.light-blue * {
    background: #384a6d;
}

td.navy-blue * {
    background: #0086d6;
}

td.grey * {
    background: #d9dde1;
}

.embedded-graphic {
    width: 100%;
    margin: 50px auto;
}

td.arrow-right {
    position: relative;
}

td.arrow-right::after {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: #d9dde1;
    top: 33%;
    right: 2px;
    transform: rotate(135deg);
}

td.navy-blue.arrow-right::after {
    background-color: #0086d6;
}

td.dark-blue.arrow-right::after {
    background-color: #071d49;
}

td.light-blue.arrow-right::after {
    background-color: #384a6d;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
}

span.counter::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    color: #0086d6;
    font-weight: bold;
}

p.red,
p.red span {
    color: #ed1b34;
    font-size: 12px;
    font-family: 'OpenSans';
}

table.table-striped ul,
table.table-striped ul li {
    margin-bottom: 0;
}

table.table-striped {
    table-layout: fixed;
}

body table.table-striped tr td {
    word-wrap: break-word;
    padding: 5px;
}

body table.table-striped tr td p {
    margin-bottom: 8px;
}

table.table-striped.custom tr td:nth-child(1) {
    width: 105px;
}

table.table-striped.custom tr td:nth-child(2) {
    width: 140px;
}

table.table-striped.custom tr td:nth-child(3) {
    width: 175px;
}

table.table-striped.custom tr td:nth-child(4) {
    width: 120px;
}

table.table-striped.custom tr td:nth-child(5) {
    width: 150px;
}

#page-20 .embedded-graphic {
    margin-top: 0;
    margin-bottom: 0;
}

#page-21 img {
    margin-top: 10px;
}

#page-22 .table {
    margin-top: 0;
}

#page-22 table td li {
    line-height: 1.5;
    font-size: 11px;
}

.appendices {
    color: #071d49;
}

.col-md-6 p {
    margin-top: 10px;
}

.footer h4 {
    position: absolute;
    left: 20px;
    bottom: 40px;
    font-size: 7px;
    font-weight: bold;
}

.footer img {
    position: absolute;
    right: 100px;
    bottom: 15px;
    width: 4%;
}

.table-note {
    font-style: italic;
    margin-top: -40px;
    margin-bottom: 50px;
}

#chart-radar-company {
    width: 500px;
    height: 500px;
}

/* MDR */
.blue-bg {
    background: #071d49;
    padding-top: 15%;
}

.blue-bg h2 {
    color: #fff;
    position: relative;
}

span.counter {
    position: absolute;
    right: 21px;
    color: #fff;
    font-family: 'Timesnewroman';
    top: 20px;
    z-index: 9;
}

.blue-bg span.counter::before {
    color: #fff;
}

span.counter::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    color: #0086d6;
    font-weight: bold;
}

section > div {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    display: block;
}

section {
    position: relative;
    background: #fff;
    padding-top: 8%;
}

section.white-border-line h1:before,
section.white-border-line h2:before,
section.white-border-line h3:before,
section.white-border-line h4:before,
section.white-border-line h5:before,
section.white-border-line h6:before {
    border-bottom-color: #ffffff !important;
}

section.red-border-line h1:before,
section.red-border-line h2:before,
section.red-border-line h3:before,
section.red-border-line h4:before,
section.red-border-line h5:before,
section.red-border-line h6:before {
    border-bottom-color: #ed1b34 !important;
}

#title-page {
    background-image: url('/images/page1.jpg');
    padding-top: 15%;
}

#title-page div div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#title-page div div img {
    width: 45%;
    height: 45%;
    padding-top: 300px;
}

#title-page h1,
#title-page h3 {
    color: white;
}

#title-page h1:before {
    border-bottom: 5px solid #ffffff;
}

#page-5 h2:before {
    left: 0;
}

#page-3 h2:before {
    left: 0;
}

#page-4 {
    padding-top: 15%;
    background: #071d49;
    background-image: url(../images/pattern_page4.png);
    background-position: right 0.2%;
    background-size: 40%;
    background-repeat: no-repeat;
}

#page-4 h1:before {
    left: 0;
}

#page-9 table {
    text-align: center;
}

#page-11 table ul li,
#page-12 table ul li {
    font-size: 11px;
    line-height: 1.5em;
}

.introduction {
    padding-top: 15%;
}

.report-page h2:before {
    left: 50px;
}

#page-20 ol {
    padding-left: 25px;
}

.report-page table {
    width: 90%;
    margin: 50px auto;
}

.report-page h2 {
    color: #fff;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background: #0086d6;
    background-image: url(/images/blue_header_element.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

#title-page h1:before,
.introduction h1:before,
.toc h2:before,
.section-page h1:before,
.report-page h2:before,
.text-page h2:first-child::before,
.appendix-page h2:first-child::before,
.appendix-intro-page h2:first-child::before,
.appendix h1:before {
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    height: 1px;
    width: 95px;
    /* or 100px */
    border-bottom: 5px solid #0086d6;
}

.appendix-intro-page ol {
    padding-left: 25px;
}

.appendix-intro-page strong {
    margin-left: 15px;
}

.appendix-intro-page p i {
    padding-left: 35px;
    display: block;
}

.appendix-intro-page ol p {
    display: block;
    padding-left: 25px;
}

#page-28 ol li {
    font-style: italic;
}

.indent {
    padding-left: 30px;
}

.introduction h1:before,
#title-page h1:before,
.appendix h1:before {
    left: 60px;
}

.report-page h2:before {
    border-bottom-color: white;
    left: 50px;
    top: 80px;
}

.report-page > div {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.report-page table {
    width: 90%;
    margin: 50px auto;
}

.report-page h2 {
    color: #fff;
    position: relative;
    padding-left: 50px;
    background: #0086d6;
    padding-top: 15%;
    padding-bottom: 80px;
    background-image: url(../images/blue_header_element.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.ips-row {
    display: flex;
}

.ips-row > div {
    padding-left: 12px;
    padding-right: 12px;
}

.report-page .bg-white .ips-row {
    padding-left: 50px;
    padding-right: 50px;
}

.report-page span.blue {
    margin-left: 50px;
}

.report-page .blue:before {
    bottom: -17px;
    width: 345px;
}

section.report-page {
    padding-top: 0;
}

.text-page,
.appendix-page,
.appendix-intro-page {
    padding-top: 15%;
}

.text-page h2,
.appendix-page h2,
.appendix-intro-page h2 {
    position: relative;
    color: #071d49;
}

.appendix-page table p,
.appendix-page table ul li {
    line-height: 1.5em;
    font-size: 11px;
}

#page-6 {
    line-height: 0.9em;
}

.high-parity {
    color: #007236;
}

.below-parity {
    color: #ed1a34;
}

.legend {
    text-align: right;
}

.red {
    color: #ed1a34;
}

a.red {
    text-decoration: none;
}

.legend label {
    font-size: 12px;
    font-family: 'OpenSans';
}

.legend span {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.legend .below-parity {
    background-color: #ed1a34;
}

.legend .high-parity {
    background-color: #007236;
}

.bold {
    font-weight: bolder;
}

#page-6 img {
    width: 100%;
}

span.finding-explanation {
    display: block;
    text-align: center;
}

.section-page {
    padding-top: 15%;
    background: #071d49;
    background-image: url(../images/pattern_page4.png);
    background-position: right 0.2%;
    background-size: 40%;
    background-repeat: no-repeat;
}

#page-23 {
    background-image: url(/images/background_section_page5.jpg);
    background-repeat: no-repeat;
    padding-top: 15%;
    background-size: cover;
    background-position: top center;
    width: 100%;
}

#es-comp-table {
    text-align: center;
}

.es-top-text {
    font-size: 11px;
    line-height: 1.5;
}

.es-split {
    display: flex;
    margin-top: 25px;
}

.es-bottom-text {
    font-size: 10px;
    line-height: 1.5;
}

.es-finding-1 table.table td {
    font-size: 10px !important;
    line-height: 1.5 !important;
}

.es-finding-1 table.table td p {
    font-size: 11px !important;
    line-height: 1.25 !important;
}

.es-finding-1 {
    width: 70%;
}

.es-side-links {
    width: 20%;
    display: inline-block;
    margin: auto;
}

.es-side-links p {
    margin: 25px auto;
}

.es-side-links p,
.es-side-links p a {
    color: #0086d6;
    text-decoration: none;
    height: 20%;
}

#page-23 p {
    color: white !important;
    width: 50%;
}

#page-24 .table {
    margin-top: 15px;
    margin-bottom: 15px;
}

#page-53 img {
    margin-top: 10px;
}

.footnotes,
.footnotes li {
    font-size: 10px;
}

.stand-alone-ul {
    padding-left: 25px;
}

.section-page h1,
.section-page h2,
.section-page li {
    display: inline-block;
    position: relative;
    color: #fff;
    width: 100%;
}

.section-page ul {
    list-style: none;
    width: 50%;
}

.section-page ul > li {
    font-size: 18px;
    font-style: italic;
}

.section-page ul > li::before {
    content: '\2022';
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.section-page h2 {
    width: 50%;
}

.appendix {
    color: #071d49;
    padding-top: 15%;
    background-image: url(/images/appendix_bkg_clean.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}

#page-18 h2:before {
    left: 0;
}

#page-18 h2:before {
    left: 0;
}

#\32-1-postlist-list {
    padding-left: 25px;
}

#\32-1-postlist-list li {
    line-height: 1.25em;
}

.introduction p.bold {
    margin-bottom: 0;
}

#page-11 ul,
#page-16 ul {
    padding-left: 25px;
}

#page-13 table.comp-table {
    text-align: center;
}

.report-page#page-13 table {
    margin-top: 15px;
    margin-bottom: 15px;
}

p.report-6-narrative {
    line-height: 1.5;
}
