[Unit]
Description=G3 Report Web Application

[Service]
WorkingDirectory=/var/www/api
ExecStart=/usr/share/dotnet/dotnet /var/www/api/Rbl.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-g3
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]
WantedBy=multi-user.target